@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifferenceBold";
  src: url("./fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: bold;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

.abt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 120px;
  box-sizing: border-box;
}

.abt-left {
  background-color: red;
  height: 450px;
  width: 400px;
}
.abt-right {
  background-color: green;
  height: 450px;
  width: 400px;
}

.home-banner {
  display: flex;
  font-family: "GlacialIndifference", sans-serif;
  height: 10vh;
  background-color: red;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.home-title {
  margin-top: 30px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GlacialIndifference", sans-serif;
  margin-bottom: 30px;
}
.home-title-left {
  padding-left: 120px;
  font-size: 2.3em;
}
.home-title-right {
  padding-right: 120px;
  font-size: 1.5em;
  display: flex;
  gap: 50px;
}

.htr-text {
  font-family: "GlacialIndifference", sans-serif;
  font-weight: normal;
  transition: color 0.2s ease, transform 0.2s ease;
}
.htr-text:hover {
  cursor: pointer;

  transform: scale(1.05);
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-left: 120px;
  padding-right: 120px;
}

.home-grid-item {
  background-color: #333333;
  height: 450px;
}
