@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifferenceBold";
  src: url("./fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: bold;
}
html {
  font-size: 16px;
}

body {
  margin: 0;
}
.abt-container {
  background-color: #dedcd9;
  height: 100vh;
}

.abt-container-small {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
  padding-top: 50px;
}

.abt-left {
  background-color: blue;
  height: 400px;
  width: 350px;
  background-image: url("./images/kaja-about.png"); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex; /* Flex for layout if needed */
  flex-direction: column;
}
.abt-right {
  color: #72330d;
  font-family: "GlacialIndifference", sans-serif;
  height: 400px;
  width: 300px;
  box-sizing: border-box;
  margin-top: -40px;
  font-size: 1em;
}

.abt-txt {
  margin-bottom: 30px;
  line-height: 1.3;
  text-align: justify;
}

.home-container {
  background-color: #dedcd9;
}
.home-title {
  background-color: #dedcd9;
  padding-top: 120px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GlacialIndifference", sans-serif;
  padding-bottom: 60px;
}
.home-title-left {
  padding-left: 180px;
  font-size: 1.5em;
  color: #72330d;
}
.home-title-right {
  padding-right: 180px;
  font-size: 1em;
  display: flex;
  gap: 16px;
}

.htr-text {
  font-family: "GlacialIndifference", sans-serif;
  font-weight: normal;
  transition: color 0.2s ease, transform 0.2s ease;
  color: #847d77;
}
.htr-text.active {
  text-decoration: underline;
  color: #72330d;
}

.htr-text.activedot {
  color: #72330d;
}
.htr-text:hover {
  cursor: pointer;

  transform: scale(1.05);
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-left: 180px;
  padding-right: 180px;
}

.home-grid-item {
  background-color: #b3a890;
  height: 450px;
}
