@font-face {
  font-family: "GlacialIndifference";
  src: url("./fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GlacialIndifferenceBold";
  src: url("./fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: bold;
}
:root {
  --primary-bg-color: #dedcd9;
  --primary-text-color: #72330d;
  --secondary-text-color: #847d77;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
}
.abt-container {
  background-color: #dedcd9;
  height: 100vh;
}

.abt-container-small {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
  padding-top: 50px;
}

.abt-left {
  height: 400px;
  width: 350px;
  background-image: url("./images/kaja-about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.abt-right {
  color: #72330d;
  font-family: "GlacialIndifference", sans-serif;
  height: 400px;
  width: 300px;
  box-sizing: border-box;
  margin-top: -40px;
  font-size: 1rem;
}

.abt-txt {
  margin-bottom: 30px;
  line-height: 1.3;
  text-align: justify;
}

.home-container {
  background-color: var(--primary-bg-color);
  transition: background-color 0.5s ease;
  min-height: 100vh;
}
.home-title {
  background-color: var(--primary-bg-color);
  transition: background-color 0.5s ease;
  padding-top: 120px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GlacialIndifference", sans-serif;
  padding-bottom: 60px;
}
.home-title-left {
  padding-left: 330px;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  transition: color 0.5s ease;
}
.home-title-left:hover {
  cursor: pointer;
}

.home-title-right {
  padding-right: 330px;
  font-size: 1rem;
  display: flex;
  gap: 16px;
}

.htr-text {
  font-family: "GlacialIndifference", sans-serif;
  font-weight: normal;
  transition: color 0.2s ease, transform 0.2s ease;
  color: var(--secondary-text-color);
  transition: color 0.5s ease;
}
.htr-text.active {
  color: var(--primary-text-color);
  transition: color 0.5s ease;
}

.htr-text.activedot {
  color: var(--primary-text-color);
  transition: color 0.5s ease;
}
.htr-text:hover {
  cursor: pointer;
  color: var(--primary-text-color);
  transition: color 0.5s ease;
  transform: scale(1.05);
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 330px;
  padding-right: 330px;
  padding-bottom: 40px;
}

.home-grid-item {
  background-color: var(--primary-bg-color);
  transition: background-color 0.5s ease;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1 / 1.18;
}

.home-grid-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.home-grid-item:hover .home-grid-item-image {
  opacity: 0;
}

.home-grid-item:hover .project-name {
  opacity: 1;
}

.home-grid-item:hover {
  background-color: var(--primary-bg-color);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
}

.project-grid-item {
  background-color: red;
  aspect-ratio: 1 / 1.18;
}

.project-grid-item-text {
  font-family: "GlacialIndifference", sans-serif;
  line-height: 1.3;
  text-align: justify;
  color: var(--primary-text-color);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  aspect-ratio: 1 / 1.18;
}

.project-name {
  font-family: "GlacialIndifference", sans-serif;
  font-size: 1.2em;
  color: var(--primary-text-color);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.project-title {
  font-family: "GlacialIndifference", sans-serif;
  padding-left: 330px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  color: var(--primary-text-color);
}
